.create1{
  margin-top: 20px;
}
.row1{
  display: flex;
  /* margin-left: 20px; */
  width: 100%;
}
.img1{
  width: 500px;
  border-radius: 20px;
}
.texth2{
  color: rgb(92, 92, 92);
  font-size: xx-large;
  
}
.col1{
  margin-top: 250px;
  width: 50%;
  margin-left: 100px;
  
}
.col1 p{
  color: rgb(136, 136, 136);
  margin-top: 40px;
  font-size: 20px;
}
.col2{
  width: 50%;
  margin-left: 110px;
}
.col2 h2{
  margin-top: -550px;
  margin-left: 20px;
  font-style: italic;
  color: rgb(136, 136, 136);
  font-size: 40px;
}
.btn1{
  margin-top: 40px;
  padding-left:30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 30px;
  border-color: black;
  font-weight: bold;
  font-size: 15px;
}
.create2{
  margin-top: 70px;
}
.img2{
  width: 400px;
  margin-left: 100px;
}
.row2{
  display: flex;
}
.img3{
  width: 400px;
  border-radius: 20px;
  margin-left: 350px;
  margin-top: 100px;
}
.col4 h2{
  margin-left: 400px;
  font-style: italic;
  color: rgb(136, 136, 136);
  font-size: 40px;
}
.col4 p{
  margin-left: 400px;
  color: rgb(136, 136, 136);
  font-size: 20px;
}
.col3 h2{
  margin-left: 120px;
  margin-top: 100px;
  font-style: italic;
  color: rgb(136, 136, 136);
  font-size: 40px;
}
.col3 p{
  margin-left: 120px;
  color: rgb(136, 136, 136);
  font-size: 20px;
}
.img4{
  margin-left: 80px;
  margin-top: 80px;
  border-radius: 30px;
}
.row3{
  display: flex;
}
.img5{
  width: 600px;
  margin-left: 70px;
  margin-top: 70px;
  border-radius: 30px;
}
.col5 p{
  color: rgb(136, 136, 136);
  margin-top: 40px;
  font-size: 20px;
  margin-top: 50px;
  text-align: justify;

}
.col5{
  margin-left: 100px;
  margin-top: 350px;

}
.col5 h2{
  color: rgb(92, 92, 92);
  font-size: xx-large;
  
}
.btn3{
  margin-top: 50px;
  padding-left:30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 30px;
  border-color: black;
  font-weight: bold;
  font-size: 15px;
}
.row4{
  display: flex;
  margin-left: 70px;
  background: #e7e7e6;
  border-radius: 30px;
  width: 1200px;
  margin-top: 60px;

}
.img6{
  width: 300px;
  margin-left: -240px;
  margin-top: 100px;
  border-radius: 20px;
}
.img7{
  width: 300px;
  margin-left: 70px;
  margin-top: 100px;
  height: 372px;
  border-radius: 20px;
}
.img8{
  width: 300px;
  margin-left: 70px;
  margin-top: 100px;
  border-radius: 20px;
}
.row4 h2{
  margin-left: 80px;
  font-style: italic;
  color: rgb(136, 136, 136);
  font-size: 40px;
}
.row5{
  display: flex;
  margin-left: 70px;
  margin-top: 70px;
}
.img9{
  width: 600px;
  border-radius: 40px;
  height: 100%;
}
.img10{
  width: 500px;
  margin-top: 60px;
  margin-left: 60px;
}
.create6 h2{
  margin-top: -600px;
  margin-left: 150px;
  font-style: italic;
  color: rgb(136, 136, 136);
  font-size: 40px;
}
.create6 h3{
  margin-left: 1000px;
  margin-top: 480px;
  font-style: italic;
  color: rgb(136, 136, 136);
  font-size: 40px;
}
.row6{
  display: flex;
  margin-left: 80px;
  margin-top: 150px;
}
.img11{
  width: 280px;
  border-radius: 30px;
}
.img12{
  width: 280px;
  border-radius: 30px;
  margin-left: 20px;
}
.img13{
  width: 280px;
  border-radius: 30px;
  margin-left: 20px;
}
.img14{
  width: 280px;
  border-radius: 30px;
  margin-left: 20px;
}
.row7{
  display: flex;
  margin-left: 80px;
  margin-top: 10px;
}
.img15{
  width: 280px;
  border-radius: 30px;
}
.img16{
  width: 280px;
  border-radius: 30px;
  margin-left: 20px;
}
.img17{
  width: 280px;
  border-radius: 30px;
  margin-left: 20px;
}
.img18{
  width: 280px;
  border-radius: 30px;
  margin-left: 20px;
}
.create8{
  margin-bottom: 20px;
}